.no-link {
  color: #555;
}

.no-link:hover {
  text-decoration: none;
  color: #555;
}

.thread:hover {
  background-color: #ddd !important;
}

.thread {
  color: #555;
}

h2 {
  font-size: 23px !important;
}

.col-sm-15 {
  width: 12% !important;
}

#upload-input {
  display: none;
}

.notificationsContainer {
  min-height: 100px;
}

.notifFiller {
  height: 100px;
  line-height: 100px;
}
